<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applivery.updates">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <service android:name=".DownloadService" />

        <provider
            android:name=".util.AppliveryFileProvider"
            android:authorities="${applicationId}.applivery.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/applivery_provider_paths" />
        </provider>
    </application>
</manifest>