name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - release/*
env:
  MVN_CENTRAL_USER: ${{ secrets.MVN_CENTRAL_USER }}
  MVN_CENTRAL_PASS: ${{ secrets.MVN_CENTRAL_PASS }}
  SIGN_KEY_ID: ${{ secrets.SIGN_KEY_ID }}
  SIGN_KEY_PASS: ${{ secrets.SIGN_KEY_PASS }}
  SIGN_KEY: ${{ secrets.SIGN_KEY }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: Publish
        run: ./gradlew publish
